.card { border-radius: 1rem; }
.card-header { border-top-left-radius: 1rem; border-top-right-radius: 1rem; }
.btn { border-radius: 0.8rem; }

.list-group-item:hover { background: #f8f9fa; }

.form-check-input { cursor: pointer; }
.form-check-label { cursor: pointer; }

