html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.app-container, .app-container * {
  font-family: 'Inter', sans-serif !important;
}

#root {
  width: 100%;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
